<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <style>
            .text-center {
                text-align: center;
            }
            table {
                border-collapse: collapse;
                width: 100%;
                border: 1px solid #ddd;
            }

            th, td {
                text-align: left;
                padding: 8px;
                border: 1px solid #ddd;
            }

            th {
                background-color: #4CAF50;
                color: white;
            }

            tr:nth-child(even) {background-color: #f2f2f2;}
        </style>
        {% block stylesheets %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
        {% endblock %}
    </body>
</html>
